header {
  margin-bottom: 0;
  margin-top: 20px;
  /* height: 400px; */
}

img {
  max-width: 90%;
}

body {
  text-align: center;
}

div {
  max-width: 20%;
  display: inline-block;
  margin: 20px auto;
}

h5 {
  text-align: center;
  margin-top: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}
