h3 {
  text-align: center;
  margin-bottom: 50px;
}

img {
  max-width: 50%;
}

body {
  text-align: center;
}

div {
  max-width: 20%;
  display: inline-block;
  justify-content: center;
}

h5 {
  text-align: center;
  margin-top: 0;
}
